.types {
  gap: 10px;
  display: flex;
  place-content: flex-start;
}

.project-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 220px;
  position: relative;
  z-index: 1;
  justify-content: space-between;
}

.project-title {
  font-size: 1em;
  margin: 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-pr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-type {
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: -0.6px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

